@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
    --main-bg-color: coral;
    --color__failure: #f45722;
    --color__success: #58d777;
    --color__border: #2e2e54;
    --color__unknown: #a5a4a4;
    --color__text: #F4F4F5;
    --color__text-blue: #181b37;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: radial-gradient(farthest-side ellipse at 10% 0,#333867 20%,#17193b);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
}

h1,h2 {
    margin-top: 0;
}
